<% include ./partials/header.ejs  %>
<div class='ui main container text segment'>
    <div class="ui big header"> <%= blog.title %></div>
        <div class='ui top attached'>
            <div class='item'>
                <img class='ui centered rounded ima' src="<%= blog.image %>" >
                <div class='content'>
                    <span><%= blog.created.toDateString()%></span>
                </div>
                <div class='description'>
                    <p><%- blog.body %></p>
                </div>
                <form action="/blogs/<%=blog._id%>?_method=DELETE" method='POST'>
                    <button class='ui red basic button'>Delete</button>
                </form>
            </div>
            
        </div>
        
    
</div>
<% include ./partials/footer.ejs  %>